.thread-list {
	width: 100%;
}

.thread-post {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
}

.post-author {
	order: 0;
	width: 15%;
}

.post-content {
	order: 1;
}


.post-author, .post-content {
	padding: 10px;
}

.thread-post:nth-child(even) {
	background-color: var(--color-secondary);
	filter: brightness(95%);
}

.thread-post:nth-child(odd) {
	background-color: var(--color-secondary);
}

.newthread-form input[name="title"] {
	width: 100%;
	margin-bottom: 30px;
	font-size: 1.2em;
}

.newthread-form textarea[name="content"], .thread-reply {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	min-height: 50px;
}


.thread-list {
	width: 100%;
	margin: 10px 0;
}

.thread-list td {
	padding: 6px;
}

.thread-entry-title {
	width: 65%;
}

.thread-entry-author {
	width: 15%;
}

.thread-entry-date {
	width: 20%;
}
