<!doctype html>
<html>
<head>
	{% load static %}
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="{% static 'main.css' %}"/>
	<script defer src="{% static 'select-section.js' %}"></script>
</head>
<body>
	<div class="accent-bar"></div>
	
	<div class="header-wrapper">
		<div class="content">
			<div class="header">
				<ul class="links">
					<li><a href="{% url 'index' %}">Home</a></li>
					<li><a href="{% url 'active_threads' %}">Threads</a></li>
				</ul>
				
				<div class="login-info">
					{% if user.is_authenticated %}
						<span class="welcome-message">Hello, {{ user.username }}!</span>
						<a href="{% url 'logout' %}?next={{ request.path }}">logout</a>
					{% else %}
						<a href="{% url 'login' %}?next={{ request.path }}">login</a>
						or <a href="{% url 'signup' %}">sign up</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	
    <div class="content container">
    	{% block content %}{% endblock %}
    </div>
    
    <div class="footer"></div>
</body>
</html>
