<!doctype html>
<html>
<head>
	{% load static %}
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="{% static 'main.css' %}"/>
</head>
<body>
	<div class="accent-bar"></div>
	
	<div class="header-wrapper">
		<div class="content">
			<div class="header">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/threads/">Threads</a></li>
					<li><a href="/test/">Test</a></li>
				</ul>
				
				<div class="login-info">
					{% if user.is_authenticated %}
						<span class="welcome-message">Hello, {{ user.username }}!</span>
						<a href="/accounts/logout/?next={{ request.path }}">logout</a>
					{% else %}
						<a href="/accounts/login/?next={{ request.path }}">login</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	
    <div class="content container">
    	{% block content %}{% endblock %}
    </div>
    
    <!-- {% debug %} -->
</body>
</html>
