{% extends 'base.html' %}
{% block title %}{{ thread_title }} &ndash; Forum{% endblock %}

{% block content %}
	<h2>{{ thread.title }}</h2>
	{% for post in posts %}
		{{ post.author.username }} &mdash; {{ post.content }} <br/>
	{% endfor %}
	
	{% if user.is_authenticated %}
		<h5>Response</h5>
		<form action="/post/?next={{ request.path }}" method="post" >
			{% csrf_token %}
			<input type="hidden" name="tid" value="{{ thread.id }}"/>
			<textarea name="content" placeholder="Content"></textarea>
			<input type="submit"/>
		</form>
	{% endif %}
{% endblock %}
