{% extends 'base.html' %}
{% load humanize %}
{% block title %}Thread list{% endblock %}

{% block content %}
	{% if section %}
		<h3 class="section-name">{{ section.name }}
			<span class="new-thread"><a href="/newthread/?sid={{ section.id }}">new thread</a></span></h3>
		<span class="section-desc">{{ section.description }}</span>
	{% else %}
		<h3>Global Thread List</h3>
	{% endif %}
	
	<div class="right-op">
		<select class="select-section" data-urlformat="{% url 'section_threads' 0 %}" data-urlreplace="0">
			<option value="">Select a section</option>
			{% for s in sections %}
				{% if s.id == section.id %}
					<option value="{{ s.id }}" selected>{{ s.name }}</option>
				{% else %}
					<option value="{{ s.id }}">{{ s.name }}</option>
				{% endif %}
			{% endfor %}
		</select>
	</div>
	
	<table class="thread-list">
		{% if threads %}
			<tr class="thread-entry-head"><th>Title</th><th>Author</th><th>Activity</th></tr>
		{% endif %}
		
		{% for thread in threads %}
		<tr class="thread-entry">
			<td class="thread-entry-title"><a href="/threads/{{ thread.id }}">{{ thread.title }}</a></td>
			<td class="thread-entry-author">{{ thread.author }}</td>
				<td class="thread-entry-date">{{ thread.activity|naturaltime }}</td>
		</tr>
		{% empty %}
			No threads.
		{% endfor %}
	</table>
	
	{% if prev or prev == 0 %}
		<a href="?page={{ prev }}">&larr; Previous page</a>
	{% endif %}
	
	{% if next %}
		<div style="float:right">
			<a href="?page={{ next }}">Next page &rarr;</a>
		</div>
	{% endif %}
{% endblock %}
