{% extends 'base.html' %}
{% block title %}{{ thread_title }} &ndash; Forum{% endblock %}

{% block content %}
	{% if section %}
		<h3 class="section-name">{{ section.name }}
			<span class="new-thread"><a href="/newthread/?sid={{ section.id }}">new thread</a></span></h3>
		<span class="section-desc">{{ section.description }}</span>
	{% else %}
		<h3>Global Thread List</h3>
	{% endif %}
	
	<table class="thread-list">
		{% if threads %}
			<tr class="thread-entry-head"><th>Title</th><th>Author</th></tr>
		{% endif %}
		
		{% for thread in threads %}
		<tr class="thread-entry">
			<td class="thread-entry-title"><a href="/threads/{{ thread.id }}">{{ thread.title }}</a></td>
			<td class="thread-entry-author">{{ thread.author }}</td>
		</tr>
		{% empty %}
			No threads.
		{% endfor %}
	</table>
{% endblock %}
